<style type="text/css">   

body {
    margin: 0;
    padding:0;
}

.container{
	margin-left:5%;
	margin-right:5%;
	padding:0;
	width:90%;
}

.form-inline{
	margin-bottom:1%;
}
	
fieldset{
	margin-left:1%;
}
	
.form-group{
	font-weight : bolder;
}
	

	
#machine-code{
	white-space:pre;
	margin-left:5%;
	margin-right:5%;
	margin-bottom:2%;
	padding:1%;
	background-color: #F9F2F4;
}